@font-face {
  font-family: Maghfirea;
  src: url(./fonts/Maghfirea);
}

* {
  box-sizing: border-box;
  background-color: black;
  font-family: Helvetica, sans-serif;
}
body {
  margin: 0;
}

.logo {
  position: absolute;
  left: 120px;
  top: 124px;
}

.logo img {
  width: 50px;
  height: 51, 6px;
}
.navigacija {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  left: 1073px;
  top: 114px;
}

.navigacija li {
  margin: 0px 15px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.hello {
  color: white;
  opacity: 0.5;
  margin-bottom: 0;
}
.main h1 {
  color: white;
  width: 650px;
  font-size: 2.7em;
  font-weight: 500;
  margin-top: 0;
  font-family: Maghfirea;
}

.intro {
  position: absolute;
  top: 321px;
  left: 120px;
}

.mojmeni {
  position: absolute;
  color: white;
  left: 120px;
  top: 800px;
}

#iphon1 {
  width: 215.81px;
  height: 529.01px;
  margin-right: 200px;
}

#iphon2 {
  width: 215.81px;
  height: 529.01px;
}

.mojmeni img {
  display: inline-block;
}
