@font-face {
  font-family: Respira;
  src: url(./fonts/DellaRespira-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: black;
}

nav {
  height: 200px;
}

.logo {
  position: relative;
  top: 124px;
}

.logo img {
  width: 50px;
  height: 51, 6px;
  left: 8%;
  position: relative;
}
.navigacija {
  position: relative;
  padding: 0px;
  top: 65px;
}

.navigacija li {
  margin: 0px 15px;
  display: inline-block;
  position: relative;
  left: 70%;
}

.navigacija li a:hover {
  font-family: Respira;
  font-size: 1.9em;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.7em;
  font-weight: bold;
}

.main {
  height: 100vh;
}

.hello {
  color: white;
  opacity: 0.5;
  margin-bottom: 0;
}
.main h1 {
  color: white;
  width: 60%;
  font-size: 2.7em;
  margin-top: 0;
  font-weight: 100;
  font-family: Bagnard;
}

.intro {
  position: absolute;
  top: 321px;
  left: 8%;
}

.main img {
  position: relative;
  top: 50%;
  left: 76%;
  width: 130px;
  height: 130px;
}
.main img:hover {
  transition: all 1s ease-in-out 0.3s;
  cursor: default;
  transform: rotate(360deg);
}

.mojmeni {
  display: flex;
}
