@font-face {
  font-family: Maghfirea;
  src: url(./fonts/Maghfirea);
}

@font-face {
  font-family: Bluu;
  src: url(./fonts/BluuNext-Bold.otf);
}

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
body {
  margin: 0;
  background-color: black;
}

nav {
  height: 200px;
}

.logo {
  position: relative;
  top: 124px;
}

.logo img {
  width: 50px;
  height: 51, 6px;
  left: 8%;
  position: relative;
}
.navigacija {
  position: relative;
  padding: 0px;
  top: 65px;
}

.navigacija li {
  margin: 0px 15px;
  display: inline-block;
  position: relative;
  left: 70%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.7em;
  font-weight: bold;
}

.main {
  height: 500px;
}

.hello {
  color: white;
  opacity: 0.5;
  margin-bottom: 0;
}
.main h1 {
  color: white;
  width: 650px;
  font-size: 2.7em;
  font-weight: 500;
  margin-top: 0;
  font-family: Bluu;
}

.intro {
  position: absolute;
  top: 321px;
  left: 8%;
}

#iphon1 {
  width: 215.81px;
  height: 529.01px;
  margin-right: 200px;
  left: 8%;
  position: relative;
}

#iphon2 {
  width: 215.81px;
  height: 529.01px;
}

.mojmeni img {
  display: inline-block;
}

.frame {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  width: px;
  height: 530px;
  display: flex;
}

.mojmeni {
  display: flex;
}

.project1 {
  color: white;
  position: relative;
  left: 70%;
}
