#parent {
  height: 600px;
  background-color: antiquewhite;
  display: flex;
  justify-content: ;
  flex-direction: ;
}

.children {
  width: 400px;
  height: 500px;
  background-color: cornflowerblue;
}
