* {
  font-family: sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header {
  text-align: center;
}

.block {
  position: relative;
  width: 30%;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
}
