.container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  background-color: rgb(224, 224, 224);
  width: 30%;
  height: 200px;
}

.header {
  text-align: center;
}
