@font-face {
  font-family: PoppinsBold;
  src: url(./Poppins-Bold.ttf);
}

* {
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(./hero-bg.jpg);
  background-size: 100% 110%;
  background-color: black;
  top: 0;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 40px;
}

.sticky-nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgba(0, 0, 0, 0.6);
}


.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
  position: absolute;
  }

.top-mobile {
  padding-left: 5%;
  color: white;
}

.top-time {
  padding-left: 5%;
  color: white;
}

header h1 {
  color: white;
  font-size: 24px;
  letter-spacing: 4px;
  position: relative;
  font-weight: 300;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav ul li {
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  letter-spacing: 1px;
  padding-left: 30px;
}

nav ul li a:hover {
  color: #cda45e;
  transition: 0.5s;
}

.book-a-table {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 160px;
  height: 35px;
  border: 2px solid #cda45e;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.book-a-table:hover {
  background-color: #cda45e;
  transition: all 0.5s;
}

.welcome h1 {
  color: white;
  font-size: 48px;
  font-family: PoppinsBold;
}

.welcome h1 span {
  color: #cda45e;
  font-family: PoppinsBold;
}

.welcome h3 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

.hero {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 250px;
}


.button a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #cda45e;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    box-shadow: 0 0 0 0 #cda45e);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #cda45e);
  }

  100% {
    transform: scale(0.5);
    box-shadow: 0 0 0 0 #cda45e);
  }

}

.button {
  width: 110px;
  height: 110px;
  background-color: #cda45ec4;
  border-radius: 50%;
  transform: scale(1);
  animation: pulse 2s infinite;
}

#About {
  width: 100%;
  height: 100vh;
}

.about-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./about-bg.jpg);
  background-size: 80% 100%;
  background-attachment: fixed;
}

